@font-face {
    font-family: 'UnderStrukk';
    src: url('UnderStrukk.woff2') format('woff2'),
        url('UnderStrukk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

