
/* Style for the images */
.obj img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border: 2px solid #ff0000; /* Add border to the images */
}

.obj:hover img {
    transform: scale(1.1);
}

/* Style for the buttons */
.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button:hover {
    background-color: #0056b3;
}